// Import Google fonts
// font-family: "Playfair Display", serif;
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Helvetica", "sans-serif";
$headers-font: "Helvetica", "sans-serif";
