.explore-layout {
  display: grid;
  grid-template-columns: 420px 1fr;
  height: 100vh;
  position: relative;
  z-index: 2;

  @media (max-width:760px) {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.explore-list {
  overflow-y: auto;
  padding: 6rem 1.5rem 0;
  border-right: 1px solid #eee;
  color: white;

}

.explore-map {
  position: sticky;
  height: calc(100vh);

  @media (max-width:760px) {
    display: none;
  }
}

.location-card {
  background: #72727072;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  box-shadow: 0 8px 20px black;
  transition: transform .2s ease, box-shadow .2s ease;
  cursor: pointer;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 40px rgba(0,0,0,.18);
  }
}

/* IMAGE */
.location-card-image {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.03));
  }

  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
  }
}

.location-badge {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #facc15;
  font-size: 0.85rem;
  letter-spacing: 0.03rem;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 10px;
  font-weight: 600;
  z-index: 2;
}

.favorite-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

/* BODY */
.location-card-body {
  padding: 1.25rem 1.25rem 1.5rem;
}

.location-card-body h3 {
  margin: 0 0 .5rem;
  font-size: 1.4rem;
  color: white;
}

.location-address {
  color: #adb6c3;
  font-size: .9rem;
  margin-bottom: .75rem;
}

.location-description {
  font-size: .95rem;
  color: white;
  margin-bottom: 1rem;
}

/* META */
.location-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: .9rem;
  color:  #adb6c3;
}

.location-price {
  color: $skauter-gold;
  font-weight: 700;
  font-size: 1.3rem;

  small {
    display: block;
    font-size: .7rem;
    color: #adb6c3;
  }
}

/* CTA */
.location-cta {
  display: block;
  width: 100%;
  text-align: center;
  padding: .75rem;
  background: var(--destructive); // red CTA
  color: white !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: .75rem;

  &:hover {
    background: rgba(185, 28, 28, 0.9); // hover:bg-destructive/90
  }
}

/* TAGS */
.location-tags-regions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  .tag {
    color: rgb(255, 255, 255);
    background-color: rgba(173, 182, 195, 0.5);
    padding: 3px 10px;
    // border-radius: 999px;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: 500;
  }
}
