.list-venue-page {
  padding: 4rem 1rem 6rem;
  // background: #f8f9fb;
  min-height: 100vh;
  // background-image: url('hero-image.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.list-venue-overlay {
  position: absolute;
  inset: 0;
  background: var(--overlay);
  transition: background 0.6s ease;
  z-index: 0; // lowest layer
}

.list-venue-hero {
  text-align: center;
  padding: 6.5rem 1rem 2rem;
  position: relative;
  z-index: 2;

  h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
  }

  p {
    color: white;
    font-size: 1.1rem;
  }

  @media (max-width: 760px) {
    padding: 3rem 1rem 2rem;;
  }
}

.list-venue-form-section {
  display: flex;
  justify-content: center;
  padding: 0rem 1rem 2rem;
  position: relative;
  z-index: 2;
}

.form-card {
  background: #72727072;
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 740px;
  padding: 2.5rem;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.form-card h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.form-subtitle {
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.6rem;

  label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;

    span {
      color: #dc2626;
    }
  }

  input,
  select {
    width: 100%;
    padding: 0.9rem 1rem;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    font-size: 0.95rem;
    transition: all 0.2s ease;

    &:focus {
      border-color: $skauter-gold;
      outline: none;
      box-shadow: 0 0 0 3px rgba(200,169,76,0.2);
    }
  }

  small {
    color: black;
    font-size: 0.8rem;
  }
}

.checkbox-group {
  display: flex;
  gap: 0.6rem;

  input {
    width: 30px;
  }

  label {
    font-weight: 500;
    margin: 0;
  }

  .gold {
    color: $skauter-gold;
    font-weight: 600;
  }
}

.submit-btn {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background: #d90429;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background: #b10323;
    transform: translateY(-2px);
  }
}

.form-note {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.85rem;
  color: $skauter-gold;
}

.custom-select option:checked {
  background-color: $skauter-gold;
}
