<div style="background-color: #ffffffff; padding: 20px; border-radius: 5px; max-width: 1000px; margin: auto;">
  <h2>Thank You for Listing Your Venue</h2>

  <p>Hello <%= @venue.full_name %>,</p>

  <p>
    We’ve successfully received your venue submission.
  </p>

  <p>
    Our team will review your property and get back to you shortly.
  </p>

  <p>
    If approved, we will contact you with the next steps.
  </p>

  <p>
    Thank you for choosing Skauter.
  </p>

  <p>
    — The Skauter Team
  </p>

  <h3 style="text-align:center">SKAUTER.AL</h3>

  <div style="text-align: center; font-size: 12px; color: #777; margin-top: 20px;">
    <p>This is an automated message. Please do not reply.</p>
  </div>
</div>
