<div style="background-color: #ffffffff; padding: 20px; border-radius: 5px; max-width: 1000px; margin: auto;">
  <h2>Regarding Your Venue Submission</h2>

  <p>Hello <%= @venue.full_name %>,</p>

  <p>
    Thank you for submitting your venue to Skauter.
  </p>

  <p>
    After reviewing your submission, we’re unable to approve it at this time.
  </p>

  <p>
    This may be due to missing details, incomplete information, or the venue
    not currently fitting our listing criteria.
  </p>

  <p>
    You are welcome to resubmit in the future with additional information.
  </p>

  <p>
    Thank you again for your interest.
  </p>

  <p>
    — The Skauter Team
  </p>


  <h3 style="text-align:center">SKAUTER.AL</h3>

  <div style="text-align: center; font-size: 12px; color: #777; margin-top: 20px;">
    <p>This is an automated message. Please do not reply.</p>
  </div>
</div>
