<% if notice %>
  <div class="alert alert-info fade show m-1" role="alert">
    <%= notice %>
    <a type="button" class="btn-close-alerts" data-bs-dismiss="alert" aria-label="Close">
      x
    </a>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning fade show m-1" role="alert">
    <%= alert %>
    <a type="button" class="btn-close-alerts" data-bs-dismiss="alert" aria-label="Close">
      x
    </a>
  </div>
<% end %>
