<section>
  <div class="home-banner">
    <div class="hero__overlay"></div>

    <div class="hero__content">
      <h1>SKAUTER</h1>
      <p>Book Albania's most cinematic filming locations</p>
    </div>
  </div>
</section>
