// Body BackGround for the Theme
// body {
//   background: var(--background);
//   color: var(--foreground);

//   transition:
//     background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
//     color 0.6s cubic-bezier(0.4, 0, 0.2, 1);

//   position: relative;
// }

// Stop scroll when Slideshow open
// body.modal-open {
//   overflow: hidden;
//   position: fixed;
//   width: 100%;
// }

body.no-scroll {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
  overscroll-behavior: none;
}
