hr {
  max-width: 1200px;
  margin: 2rem auto;
  border: 0;
  height: 1px;
  background: white;
  position: relative;
  opacity: 0.5 !important;
  z-index: 3;

  @media (max-width: 760px) {
    max-width: 90%;
    margin: 1.5rem auto;
  }
}
