/* === MAP HEADER === */
.map-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 72px;
  padding: 16px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  z-index: 2;

  h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: #0f172a;
  }
  span {
    font-size: 0.8rem;
    color: #64748b;
  }

  .map-close-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #0f172a;
  }
}


/* === MAP PANEL === */
.map-panel {
  position: fixed;
  bottom: calc(1.5rem + 72px); /* sits above the button */
  right: 1.5rem;

  width: 420px;
  height: 520px;

  background: #fff;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);

  overflow: hidden;
  z-index: 900;

  /* closed by default */
  transform: translateY(120%);
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: 760px) {
    width: calc(100% - 3rem);
    height: 470px;
    bottom: calc(1.5rem);
  }
}

/* OPEN STATE */
.map-panel.is-open {
  transform: translateY(0);
}

/* Mapbox canvas must fill panel */
.map {
  width: 100%;
  height: 100%;
}

/* === TOGGLE BUTTON === */
.map-toggle-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  z-index: 950;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s ease, background 0.2s ease;

  svg {
    width: 24px;
    height: 24px;
    stroke: white;
  }

  // &:hover {
  //   transform: scale(1.05);
  //   background-color: rgb(211, 175, 60);

  //   svg {
  //     stroke: #9f1239;
  //   }
  // }
}

.map-popup {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px #0000001a;
  padding: 10px 10px 15px;
  pointer-events: auto;
  position: relative;

  h3 {
    font-size: 14px;
    font-weight: bold;
    color: #003566;
    margin-bottom: 4px;
  }

  p {
    font-size: 12px;
    color: #64748b;
    margin-bottom: 6px;
  }

  .map-popup-btn {
    background: #C60C30;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
  }
}

.map-marker {
  width: 18px;
  height: 18px;
  background: #c9a227;
  border-radius: 50%;
  border: 2px solid white;
}

.map-marker.active {
  transform: scale(1.5);
  background: #9f1239;
}

.county-marker {
  background: rgba(15, 42, 91, 0.9);
  color: #fff;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
}
