.user-session-container {

  background: #f8f9fb;
  min-height: 100vh;
  background-image: url('hero-image.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 4rem 1rem 6rem;

  .user-session-form {
      display: flex;
      flex-direction: column;
      justify-content: start;
      border-radius: 8px;
      box-shadow: 0 2px 4px var(--container-shadow);
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: rgba(255, 255, 255, 0.9);
      padding: 2.5rem;
      color: black;
      position: relative;
      z-index: 1;

      .btn-submit {
        color: var();
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
          // background-color: var(--background);
          color: var(--background);
          // border: 1px solid var(--foreground);
          transform: scale(1.05);
        }
      }

      .link {
        text-decoration: none;
        color: black;
        margin: none;
        font-weight: 500;
        text-align: left;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          // color: var(--primary);
        }
      }

      @media (max-width: 760px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 25%);
        width: 90%;
        padding: 20px;
      }

    }
}
