.user-session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--container-shadow);
  width: 300px;
  margin: 0 auto;
  // background-color: var(--container-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color:var(--foreground);
}
