.user-session-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 4rem 1rem 6rem;
  position: relative;
  z-index: 2;

  .user-session-form {
      display: flex;
      flex-direction: column;
      justify-content: start;
      border-radius: 8px;
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      background: #72727072;
      padding: 2.5rem;
      color: white;
      position: relative;
      z-index: 1;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      box-shadow: 0 8px 20px black;

      .btn-submit {
        color: var();
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
          // background-color: var(--background);
          color: var(--background);
          // border: 1px solid var(--foreground);
          transform: scale(1.05);
        }
      }

      .link {
        text-decoration: none;
        color: white;
        margin: none;
        font-weight: 500;
        text-align: left;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          // color: var(--primary);
        }
      }

      @media (max-width: 760px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 25%);
        width: 90%;
        padding: 20px;
      }

    }
}
