.user-session-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--container-shadow);
  width: 400px;
  margin: 0 auto;
  background-color: var(--container-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color:var(--foreground);

  .btn-submit {
    color: var();
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      // background-color: var(--background);
      color: var(--background);
      // border: 1px solid var(--foreground);
      transform: scale(1.05);
    }
  }

  .link {
    text-decoration: none;
    color: var(--link);
    margin: none;
    font-weight: 500;
    text-align: left;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      // color: var(--primary);
    }
  }

}
