/* === SLIDESHOW PANEL === */
.slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e3a8a;
  border-bottom: 2px solid $white;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: var(--foreground);
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-height: 580px), (max-width: 760px) {
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-left: none;
    flex-direction: column;
  }

  .slideshow_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;

    @media (max-width: 760px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  .logo-slideshow {

    .logo-slideshow-big {
      width: 200px;
      margin-bottom: 20px;

      @media (max-width: 760px) {
        display: none;
      }
    }
    .logo-slideshow-small {
      display: none;

      @media (max-width: 760px) {
        display: block;
        width: 120px;
        position: absolute;
        top: 20px;
        left: 20px;

      }
    }
  }
}


.slideshow.open {
  transform: translateX(0);
}

/* === LINKS INSIDE SLIDESHOW === */
.slideshow a {
  display: block;
  padding: 15px;
  font-size: 2rem;
  text-decoration: none;
  opacity: 0;
  color: white;
  transition: opacity 0.3s ease-in-out 0.2s;
  cursor: pointer;
  font-weight: 300;

  @media (max-width: 760px) {
    font-size: 0.8rem;
    font-size: 1.5rem;
  }
}

.slideshow.open a {
  opacity: 1;
}

.link-nav-slideshow {
  position: relative;
  align-self: center;
  color: var(--foreground);
  transition: color 0.3s;
  text-decoration: none; // Remove default underline
}

.link-nav-slideshow::after {
  position: absolute;
  bottom: -2px; // Slightly below the text for better visibility
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--foreground);
  content: "";
  transform: scaleX(0);
  transform-origin: left; // Start scaling from the left
  transition: transform 0.3s ease-in-out;
}

.link-nav-slideshow:hover::after {
  transform: scaleX(1); // Expand the underline from left to right
}
