<h1>Explore Regions</h1>

<div class="regions-grid">
  <h1>Regions <%= @counties.count %></h1>
  <% @counties.each do |county| %>
    <%= link_to county.name, region_path(county.slug), class: "region-card" %>
  <% end %>
</div>
